@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}
