html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto-Medium;
  /* color: black; */
	font-size: 0.9em;
	line-height: 1.25em;
  line-height: 35px;
}

a{
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
}

/*---- Start: header section ----*/
header {
	width: 100%;
	position: fixed;
  background-color: #fdfdfd;
	top: 0;
	left: 0;
	z-index: 100;
	font-family: Roboto-Thin;
}

header #logo-section {
	margin: 30px 0px;
	float: left;
	width: 120px;
	height: 70px;
	display: block;
  text-align: center;
}

.mi-logo-img{
 width: 35%;
 margin-top: 12px;
}

header nav {
	float: right;
	padding: 0px;
	height: 70px;
	margin: 20px 70px 20px 20px;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: inline-block;
	float: left;
	padding: 15px;
}

 header nav a {
  color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.app-name{
  color: #000000;
  font-family: Roboto-Medium;
  font-size: 15px;
  padding: 15px;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.back-to-site-button{
  color: white;
  background-color: #4a71ffcc;
}

@media screen and (min-width: 1400px) {
  header nav ul li a{
  	font-size: 18px;
  }
}

@media screen and (max-width : 716px) {
	h1 {
		font-size: 1.0em;
	}
	header {
		position: fixed;
	}

  .mi-logo-img {
    width: 45%;
  }

  header nav{
    margin: 30px 40px 20px 20px;
  }

	nav ul, nav:active ul {
    margin-top: 5px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	.content-info{
		margin: 0 10%;
		font-size: 1.2em;
	}

  .logo-img{
   width: 20%;
   margin-top: 12px;
  }

}

@media screen and (max-width: 570px) {
	header{
			height: 90px;
	}

	header #logo-section{
		 margin: 10px 0px;
	}

  .mi-logo-img{
    width: 45%;
  }

  header nav{
    margin: 10px 20px 10px 10px
  }

  .app-name{
    padding: 15px;
  }
}

@media screen and (max-width : 516px) {
  header nav{
    margin: 20px 20px 10px 10px;
  }

  header nav ul li{
    padding: 5px;
  }

  .app-name{
    padding: 10px;
    font-size: 12px;
  }
}
/*---- end: header section ----*/

/*---- start: main section ----*/
.background-img-section{
  padding-top: 150px;
  width: 100%;
  position: absolute;
  z-index: -1
}

.hidden-overflow{
  height: 100%;
  overflow: hidden;
}

.main-background-img{
  width: 100%;
  opacity: 0.1;
}

.main-section{
  text-align: center;
  padding-top: 150px;
  margin: 50px;
  background-color:rgba(74, 113, 255, 0.8);
}

.main-section-content{
  padding: 50px
}

.headline-section{
  color: #ffffff;
}

.headline-section h2{
  font-family: Roboto-Medium;
  text-transform: uppercase;
}

.pdf-templates-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 300px;
  padding: 70px 10px 50px 10px;
}

.pdf-template{
  margin: 10px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(202, 202, 202, 0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(202, 202, 202, 0.5);
  box-shadow: 0px 0px 20px 1px rgba(202, 202, 202, 0.5);
}

.pdf-template:hover{
  box-shadow: 0px 0px 50px 5px rgba(117, 117, 117, 0.5);
}

.pdf-template-img-section{
  max-width: 350px;
}

.pdf-template-img{
  width: 100%;
  border: 1px solid #f3f3f3;
}

.template-category{
  margin: 30px;
  border-top: 1px solid black;
}

.template-category p{
  color: #000000;
}

@media screen and (max-width : 1120px) {
  .pdf-template{
    max-width: 30%;
  }
}

@media screen and (max-width : 980px) {
  .pdf-template{
    max-width: 400px;
  }
}

@media screen and (max-width : 716px) {
  .headline-section {
    color: #ffffff;
  }

  .main-section{
    padding-top: 50px;
    margin: 0;
    background-color: rgba(74, 113, 255, 0.8);
  }

  .main-section-content{
    margin-top: 100px;
    padding: 0;
  }

  .pdf-templates-section {
    padding: 20px 10px 50px 10px;
  }
}
/*---- end: main section ----*/

/*---- start: overlay section ----*/
#overlay-section{
  z-index: 1;
  top: 0px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  overflow-y: auto
}

#overlay-section.active{
  visibility: visible;
  opacity: 1;
  background-color: #ffffff;
}

.overlay-section-content{
  display: table;
  width: 100%;
  margin-top: 200px;
}

/* left section */
.pdf-preview{
  /* background-color: #ff9e2c; */
  position: absolute;
  left: 0px;
  min-height: 65%;
  width: 50%;
  border-right: 1px solid #e4e4e4;
}

.overlay-preview-img{
  text-align: center;
}

.overlay-preview-img img{
  width: 50%;
  padding: 10px;
  border: 1px solid #efefef;
}

/* right section */
.pdf-input-section{
  position: absolute;
  right: 0px;
  min-height: 65%;
  width: 50%;
  text-align: center;
}

.overlay-preview-headline{
  text-align: center;
}

.overlay-preview-headline h2{
  font-family: Roboto-Thin;
}

.input-section{
  margin: 0 50px;
  text-align: left;
}

input[type=text], select {
width: 100%;
padding: 15px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #e8e8e8;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit], .pdf-button{
  width: 25%;
  background-color: #6bc795;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-pdf-section{
  margin: 30px 0;
}

.generate-button{
  text-align: center;
  margin-top: 200px;
}

@media screen and (max-width : 800px) {
  .pdf-preview, .pdf-input-section{
    position: unset;
    width: 100%
  }

  .overlay-preview-headline{
    margin-top: 50px;
  }


  .overlay-section-content {
    margin-top: 90px;
  }

  input[type=submit] {
    width: 100%;
  }
}
/*---- end: overlay section ----*/
